@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

@keyframes bouncemz8PGamSoahc {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  20% {
    transform: translate3d(0px, 0px, 0);
  }
  40% {
    transform: translate3d(0, -30px, 0) scale3d(1, 1.1, 1);
  }
  43% {
    transform: translate3d(0, -30px, 0) scale3d(1, 1.1, 1);
  }
  53% {
    transform: translate3d(0px, 0px, 0);
  }
  70% {
    transform: translate3d(0, -15px, 0) scale3d(1, 1.05, 1);
  }
  80% {
    transform: translate3d(0px, 0px, 0) scale3d(1, 0.95, 1);
  }
  90% {
    transform: translate3d(0, -4px, 0) scale3d(1, 1.02, 1);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes flashgywO1JkB0C0B {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse0DlLe3ZmR0Lr {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shakeXi3E22TKhl0K5 {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  10% {
    transform: translate3d(-10px, 0, 0);
  }
  20% {
    transform: translate3d(10px, 0, 0);
  }
  30% {
    transform: translate3d(-10px, 0, 0);
  }
  40% {
    transform: translate3d(10px, 0, 0);
  }
  50% {
    transform: translate3d(-10px, 0, 0);
  }
  60% {
    transform: translate3d(10px, 0, 0);
  }
  70% {
    transform: translate3d(-10px, 0, 0);
  }
  80% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes shakeYl0KBo9LjTzBs {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  10% {
    transform: translate3d(0, -10px, 0);
  }
  20% {
    transform: translate3d(0, 10px, 0);
  }
  30% {
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transform: translate3d(0, 10px, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  60% {
    transform: translate3d(0, 10px, 0);
  }
  70% {
    transform: translate3d(0, -10px, 0);
  }
  80% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceIn3HoXu1Wp6Gs8 {
  0% {
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceInDownhp0HXew9IovK {
  0% {
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scale3d(1, 3, 1);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scale3d(1, 0.9, 1);
  }
  75% {
  }
  75% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.95, 1);
  }
  90% {
  }
  90% {
    transform: translate3d(0, 5px, 0) scale3d(1, 0.985, 1);
  }
  100% {
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceInUpOuEx47B0Gs0N {
  0% {
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scale3d(1, 5, 1);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  75% {
  }
  75% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.95, 1);
  }
  90% {
  }
  90% {
    transform: translate3d(0, -5px, 0) scale3d(1, 0.985, 1);
  }
  100% {
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceOutDi9YSaoElcP {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes bounceOutDownhEnFj0ViWren {
  20% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.985, 1);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0) scale3d(1, 3, 1);
  }
}
@keyframes bounceOutUpxZzUzYpvBef {
  20% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.985, 1);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scale3d(1, 0.9, 1);
  }
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scale3d(1, 0.9, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scale3d(1, 3, 1);
  }
}
@keyframes fadeInK8AS4CD8LxJc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown3Wejw0KdhvkT {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInLeft4B8ZYZskL8T {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInRightKdx1R1C3TK5 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInUpCv8T94HMzoj {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeOutWsmExWsKHehM {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutDownxkwpUuxkXaKh {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutLeft4I7FfzXpTQqw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutRightv7VeJyZf8OiV {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutUpWcnCocbUJlyZ {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes zoomIn8EsQyUe1F6D {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomInDownnKgmoIh8EcU {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}
@keyframes zoomInUpwDQdAk9BrYhY {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
}
@keyframes zoomOut8XcUEhcTFz {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOutDownT1UpFUnBqbit {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
  }
}
@keyframes zoomOutUpMkD1Et3X2Ko {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
@keyframes slideInDownHU23SDnaGbj {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInLeftamPxFrYy2Bqz {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInRighttlJWuYi8YUnT {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInUpl416FyqrLiVp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideOutDownIqTsEfKh0RaO {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutLeftyGtWsF8QcRpo {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutRightJr7Y0RUtQox {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutUpxSnDqhPupUr {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.plasmic_default_styles {
  --mixin-G4e4REx9K9dq_font-family: "Inter", sans-serif;
  --mixin-G4e4REx9K9dq_font-size: 16px;
  --mixin-G4e4REx9K9dq_font-weight: 400;
  --mixin-G4e4REx9K9dq_font-style: normal;
  --mixin-G4e4REx9K9dq_color: #535353;
  --mixin-G4e4REx9K9dq_text-align: left;
  --mixin-G4e4REx9K9dq_text-transform: none;
  --mixin-G4e4REx9K9dq_line-height: 1.5;
  --mixin-G4e4REx9K9dq_letter-spacing: normal;
  --mixin-G4e4REx9K9dq_white-space: pre-wrap;
  --mixin-G4e4REx9K9dq_user-select: text;
  --mixin-G4e4REx9K9dq_text-decoration-line: none;
  --mixin-G4e4REx9K9dq_text-overflow: clip;
  --mixin-IPlPMhROBtoq_color: #000000;
  --mixin-IPlPMhROBtoq_font-weight: 700;
  --mixin-IPlPMhROBtoq_font-size: 64px;
  --mixin-IPlPMhROBtoq_line-height: 1;
  --mixin-IPlPMhROBtoq_letter-spacing: -1px;
  --mixin-IPlPMhROBtoq_white-space: pre-wrap;
  --mixin-QUEkmHLQVXhb_color: #000000;
  --mixin-QUEkmHLQVXhb_font-size: 48px;
  --mixin-QUEkmHLQVXhb_font-weight: 700;
  --mixin-QUEkmHLQVXhb_letter-spacing: -0.5px;
  --mixin-QUEkmHLQVXhb_line-height: 1.1;
  --mixin-QUEkmHLQVXhb_white-space: pre-wrap;
  --mixin-CinfWwKHwefe_color: #0070f3;
  --mixin-CinfWwKHwefe_white-space: pre-wrap;
  --mixin-IEk62CjbRp_r_color: #000000;
  --mixin-IEk62CjbRp_r_font-size: 32px;
  --mixin-IEk62CjbRp_r_font-weight: 600;
  --mixin-IEk62CjbRp_r_line-height: 1.2;
  --mixin-IEk62CjbRp_r_white-space: pre-wrap;
  --mixin-JpJg3ZibZdeT_color: #000000;
  --mixin-JpJg3ZibZdeT_font-size: 24px;
  --mixin-JpJg3ZibZdeT_font-weight: 600;
  --mixin-JpJg3ZibZdeT_line-height: 1.3;
  --mixin-JpJg3ZibZdeT_white-space: pre-wrap;
  --mixin-IyvQtj_ce_51_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-IyvQtj_ce_51_border-bottom-color: #dddddd;
  --mixin-IyvQtj_ce_51_border-bottom-style: solid;
  --mixin-IyvQtj_ce_51_border-bottom-width: 1px;
  --mixin-IyvQtj_ce_51_border-left-color: #dddddd;
  --mixin-IyvQtj_ce_51_border-left-style: solid;
  --mixin-IyvQtj_ce_51_border-left-width: 1px;
  --mixin-IyvQtj_ce_51_border-right-color: #dddddd;
  --mixin-IyvQtj_ce_51_border-right-style: solid;
  --mixin-IyvQtj_ce_51_border-right-width: 1px;
  --mixin-IyvQtj_ce_51_border-top-color: #dddddd;
  --mixin-IyvQtj_ce_51_border-top-style: solid;
  --mixin-IyvQtj_ce_51_border-top-width: 1px;
  --mixin-IyvQtj_ce_51_border-bottom-left-radius: 3px;
  --mixin-IyvQtj_ce_51_border-bottom-right-radius: 3px;
  --mixin-IyvQtj_ce_51_border-top-left-radius: 3px;
  --mixin-IyvQtj_ce_51_border-top-right-radius: 3px;
  --mixin-IyvQtj_ce_51_font-family: "Inconsolata";
  --mixin-IyvQtj_ce_51_padding-bottom: 1px;
  --mixin-IyvQtj_ce_51_padding-left: 4px;
  --mixin-IyvQtj_ce_51_padding-right: 4px;
  --mixin-IyvQtj_ce_51_padding-top: 1px;
  --mixin-IyvQtj_ce_51_white-space: pre-wrap;
  --mixin-jEU9yYPaeMVh_border-left-color: #dddddd;
  --mixin-jEU9yYPaeMVh_border-left-style: solid;
  --mixin-jEU9yYPaeMVh_border-left-width: 3px;
  --mixin-jEU9yYPaeMVh_color: #888888;
  --mixin-jEU9yYPaeMVh_padding-left: 10px;
  --mixin-jEU9yYPaeMVh_white-space: pre-wrap;
  --mixin-YYZgbDPXv48m_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YYZgbDPXv48m_border-bottom-color: #dddddd;
  --mixin-YYZgbDPXv48m_border-bottom-style: solid;
  --mixin-YYZgbDPXv48m_border-bottom-width: 1px;
  --mixin-YYZgbDPXv48m_border-left-color: #dddddd;
  --mixin-YYZgbDPXv48m_border-left-style: solid;
  --mixin-YYZgbDPXv48m_border-left-width: 1px;
  --mixin-YYZgbDPXv48m_border-right-color: #dddddd;
  --mixin-YYZgbDPXv48m_border-right-style: solid;
  --mixin-YYZgbDPXv48m_border-right-width: 1px;
  --mixin-YYZgbDPXv48m_border-top-color: #dddddd;
  --mixin-YYZgbDPXv48m_border-top-style: solid;
  --mixin-YYZgbDPXv48m_border-top-width: 1px;
  --mixin-YYZgbDPXv48m_border-bottom-left-radius: 3px;
  --mixin-YYZgbDPXv48m_border-bottom-right-radius: 3px;
  --mixin-YYZgbDPXv48m_border-top-left-radius: 3px;
  --mixin-YYZgbDPXv48m_border-top-right-radius: 3px;
  --mixin-YYZgbDPXv48m_font-family: "Inconsolata";
  --mixin-YYZgbDPXv48m_padding-bottom: 3px;
  --mixin-YYZgbDPXv48m_padding-left: 6px;
  --mixin-YYZgbDPXv48m_padding-right: 6px;
  --mixin-YYZgbDPXv48m_padding-top: 3px;
  --mixin-YYZgbDPXv48m_white-space: pre-wrap;
  --mixin-YeCsTaXHPB6d_display: flex;
  --mixin-YeCsTaXHPB6d_flex-direction: column;
  --mixin-YeCsTaXHPB6d_align-items: stretch;
  --mixin-YeCsTaXHPB6d_justify-content: flex-start;
  --mixin-YeCsTaXHPB6d_list-style-position: outside;
  --mixin-YeCsTaXHPB6d_padding-left: 40px;
  --mixin-YeCsTaXHPB6d_position: relative;
  --mixin-YeCsTaXHPB6d_list-style-type: disc;
  --mixin-YeCsTaXHPB6d_white-space: pre-wrap;
  --mixin-N2ia8RlL_PyW_display: flex;
  --mixin-N2ia8RlL_PyW_flex-direction: column;
  --mixin-N2ia8RlL_PyW_align-items: stretch;
  --mixin-N2ia8RlL_PyW_justify-content: flex-start;
  --mixin-N2ia8RlL_PyW_list-style-position: outside;
  --mixin-N2ia8RlL_PyW_padding-left: 40px;
  --mixin-N2ia8RlL_PyW_position: relative;
  --mixin-N2ia8RlL_PyW_list-style-type: decimal;
  --mixin-N2ia8RlL_PyW_white-space: pre-wrap;
  --mixin-nUPG4BvQaWkO_color: #000000;
  --mixin-nUPG4BvQaWkO_font-size: 20px;
  --mixin-nUPG4BvQaWkO_font-weight: 600;
  --mixin-nUPG4BvQaWkO_line-height: 1.5;
  --mixin-nUPG4BvQaWkO_white-space: pre-wrap;
  --mixin-TZkobn8ii2Qe_color: #000000;
  --mixin-TZkobn8ii2Qe_font-size: 16px;
  --mixin-TZkobn8ii2Qe_font-weight: 600;
  --mixin-TZkobn8ii2Qe_line-height: 1.5;
  --mixin-TZkobn8ii2Qe_white-space: pre-wrap;
  --mixin-tkggzsA3L7Se_color: #3291ff;
  --mixin-tkggzsA3L7Se_white-space: pre-wrap;
  --mixin-EOs921rhxAiu_white-space: pre-wrap;
  --mixin-xDIYO-TOFO7D_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-G4e4REx9K9dq_font-family);
  font-size: var(--mixin-G4e4REx9K9dq_font-size);
  font-weight: var(--mixin-G4e4REx9K9dq_font-weight);
  font-style: var(--mixin-G4e4REx9K9dq_font-style);
  color: var(--mixin-G4e4REx9K9dq_color);
  text-align: var(--mixin-G4e4REx9K9dq_text-align);
  text-transform: var(--mixin-G4e4REx9K9dq_text-transform);
  line-height: var(--mixin-G4e4REx9K9dq_line-height);
  letter-spacing: var(--mixin-G4e4REx9K9dq_letter-spacing);
  white-space: var(--mixin-G4e4REx9K9dq_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-IPlPMhROBtoq_color);
  font-weight: var(--mixin-IPlPMhROBtoq_font-weight);
  font-size: var(--mixin-IPlPMhROBtoq_font-size);
  line-height: var(--mixin-IPlPMhROBtoq_line-height);
  letter-spacing: var(--mixin-IPlPMhROBtoq_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-QUEkmHLQVXhb_color);
  font-size: var(--mixin-QUEkmHLQVXhb_font-size);
  font-weight: var(--mixin-QUEkmHLQVXhb_font-weight);
  letter-spacing: var(--mixin-QUEkmHLQVXhb_letter-spacing);
  line-height: var(--mixin-QUEkmHLQVXhb_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-CinfWwKHwefe_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-IEk62CjbRp_r_color);
  font-size: var(--mixin-IEk62CjbRp_r_font-size);
  font-weight: var(--mixin-IEk62CjbRp_r_font-weight);
  line-height: var(--mixin-IEk62CjbRp_r_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-JpJg3ZibZdeT_color);
  font-size: var(--mixin-JpJg3ZibZdeT_font-size);
  font-weight: var(--mixin-JpJg3ZibZdeT_font-weight);
  line-height: var(--mixin-JpJg3ZibZdeT_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-IyvQtj_ce_51_font-family);
  border-radius: var(--mixin-IyvQtj_ce_51_border-top-left-radius)
    var(--mixin-IyvQtj_ce_51_border-top-right-radius)
    var(--mixin-IyvQtj_ce_51_border-bottom-right-radius)
    var(--mixin-IyvQtj_ce_51_border-bottom-left-radius);
  padding: var(--mixin-IyvQtj_ce_51_padding-top)
    var(--mixin-IyvQtj_ce_51_padding-right)
    var(--mixin-IyvQtj_ce_51_padding-bottom)
    var(--mixin-IyvQtj_ce_51_padding-left);
  border-top: var(--mixin-IyvQtj_ce_51_border-top-width)
    var(--mixin-IyvQtj_ce_51_border-top-style)
    var(--mixin-IyvQtj_ce_51_border-top-color);
  border-right: var(--mixin-IyvQtj_ce_51_border-right-width)
    var(--mixin-IyvQtj_ce_51_border-right-style)
    var(--mixin-IyvQtj_ce_51_border-right-color);
  border-bottom: var(--mixin-IyvQtj_ce_51_border-bottom-width)
    var(--mixin-IyvQtj_ce_51_border-bottom-style)
    var(--mixin-IyvQtj_ce_51_border-bottom-color);
  border-left: var(--mixin-IyvQtj_ce_51_border-left-width)
    var(--mixin-IyvQtj_ce_51_border-left-style)
    var(--mixin-IyvQtj_ce_51_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-jEU9yYPaeMVh_color);
  padding-left: var(--mixin-jEU9yYPaeMVh_padding-left);
  border-left: var(--mixin-jEU9yYPaeMVh_border-left-width)
    var(--mixin-jEU9yYPaeMVh_border-left-style)
    var(--mixin-jEU9yYPaeMVh_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-YYZgbDPXv48m_font-family);
  border-radius: var(--mixin-YYZgbDPXv48m_border-top-left-radius)
    var(--mixin-YYZgbDPXv48m_border-top-right-radius)
    var(--mixin-YYZgbDPXv48m_border-bottom-right-radius)
    var(--mixin-YYZgbDPXv48m_border-bottom-left-radius);
  padding: var(--mixin-YYZgbDPXv48m_padding-top)
    var(--mixin-YYZgbDPXv48m_padding-right)
    var(--mixin-YYZgbDPXv48m_padding-bottom)
    var(--mixin-YYZgbDPXv48m_padding-left);
  border-top: var(--mixin-YYZgbDPXv48m_border-top-width)
    var(--mixin-YYZgbDPXv48m_border-top-style)
    var(--mixin-YYZgbDPXv48m_border-top-color);
  border-right: var(--mixin-YYZgbDPXv48m_border-right-width)
    var(--mixin-YYZgbDPXv48m_border-right-style)
    var(--mixin-YYZgbDPXv48m_border-right-color);
  border-bottom: var(--mixin-YYZgbDPXv48m_border-bottom-width)
    var(--mixin-YYZgbDPXv48m_border-bottom-style)
    var(--mixin-YYZgbDPXv48m_border-bottom-color);
  border-left: var(--mixin-YYZgbDPXv48m_border-left-width)
    var(--mixin-YYZgbDPXv48m_border-left-style)
    var(--mixin-YYZgbDPXv48m_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YeCsTaXHPB6d_display);
  flex-direction: var(--mixin-YeCsTaXHPB6d_flex-direction);
  align-items: var(--mixin-YeCsTaXHPB6d_align-items);
  justify-content: var(--mixin-YeCsTaXHPB6d_justify-content);
  list-style-position: var(--mixin-YeCsTaXHPB6d_list-style-position);
  padding-left: var(--mixin-YeCsTaXHPB6d_padding-left);
  position: var(--mixin-YeCsTaXHPB6d_position);
  list-style-type: var(--mixin-YeCsTaXHPB6d_list-style-type);
  column-gap: var(--mixin-YeCsTaXHPB6d_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-N2ia8RlL_PyW_display);
  flex-direction: var(--mixin-N2ia8RlL_PyW_flex-direction);
  align-items: var(--mixin-N2ia8RlL_PyW_align-items);
  justify-content: var(--mixin-N2ia8RlL_PyW_justify-content);
  list-style-position: var(--mixin-N2ia8RlL_PyW_list-style-position);
  padding-left: var(--mixin-N2ia8RlL_PyW_padding-left);
  position: var(--mixin-N2ia8RlL_PyW_position);
  list-style-type: var(--mixin-N2ia8RlL_PyW_list-style-type);
  column-gap: var(--mixin-N2ia8RlL_PyW_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-nUPG4BvQaWkO_color);
  font-size: var(--mixin-nUPG4BvQaWkO_font-size);
  font-weight: var(--mixin-nUPG4BvQaWkO_font-weight);
  line-height: var(--mixin-nUPG4BvQaWkO_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-TZkobn8ii2Qe_color);
  font-size: var(--mixin-TZkobn8ii2Qe_font-size);
  font-weight: var(--mixin-TZkobn8ii2Qe_font-weight);
  line-height: var(--mixin-TZkobn8ii2Qe_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-tkggzsA3L7Se_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
