.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-It_FgHzX6Jwc);
  font-family: var(--token-NBVTtVD1XBnZ);
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
  outline-style: none;
  border-radius: var(--token-4uTXY9GwFD1l);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-fQ4j2BzKPbXR);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-x4XoOyhcgegv);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ZvRSnUU8gbFl);
  outline-color: var(--token-bAXYxQaQyfo2);
  outline-offset: 1px;
}
.freeBox__zamBz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-ZvRSnUU8gbFl);
  min-width: 0;
  padding: var(--token-zfsMcYLEEiIu) var(--token--e_2K-2uhnGX);
}
.freeBox__vjCen {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__hohU5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-MOGT7cWov6JK);
  min-width: 0;
}
