.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: center;
  column-gap: 16px;
  isolation: auto;
  filter: none;
  backdrop-filter: blur(3px);
  background:
    linear-gradient(0deg, transparent 0%, var(--token-4Cdw41zGDm2p) 100%) 0%
      0% / 100% 100% repeat,
    #17171733;
  position: relative;
  -webkit-backdrop-filter: blur(3px);
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    padding: 32px;
  }
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.img {
  animation: none;
  object-fit: contain;
  width: 64px;
  height: 64px;
  position: relative;
  margin-right: 0px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.links {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__lzZiw {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__hKvHf {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__gBktF {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___9XW1F {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___0HvZq {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
