.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-C4tKAbtREQEk);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__m6W1T {
  display: flex;
  flex-direction: column;
}
.freeBox__vfSnA {
  flex-direction: row;
  position: absolute;
  height: var(--token-NjJ8MH5aK_k2);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-4uTXY9GwFD1l) var(--token--e_2K-2uhnGX);
}
.freeBoxiconStart__vfSnAofd6C {
  display: flex;
}
.slotTargetStart {
  color: var(--token-MOGT7cWov6JK);
}
.svg__kmBr9 {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___2OSsb {
  height: var(--token-NjJ8MH5aK_k2);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-4uTXY9GwFD1l) var(--token--e_2K-2uhnGX);
}
.freeBoxiconEnd___2OSsbzNf32 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-MOGT7cWov6JK);
}
.svg__bQu7N {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
