.ariaTooltip:global(.__wab_instance) {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
}
.slotTargetTrigger {
  color: var(--token-It_FgHzX6Jwc);
  font-family: var(--token-NBVTtVD1XBnZ);
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
}
.text__bVzK {
  position: relative;
}
.overlayArrow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  background: var(--token-bDvfb8QXlDbd);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  row-gap: var(--token-C4tKAbtREQEk);
  border-radius: var(--token-zfsMcYLEEiIu);
  padding: var(--token-8k_MU6QpHiOJ);
}
.slotTargetContent {
  color: var(--token-SagQ9cPqP6-w);
  font-family: var(--token-NBVTtVD1XBnZ);
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
}
