.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  position: fixed;
  justify-content: center;
  column-gap: 16px;
  left: 0;
  top: 0;
  z-index: 99;
  right: 0;
  isolation: auto;
  filter: none;
  backdrop-filter: blur(20px);
  background: #17171780;
  -webkit-backdrop-filter: blur(20px);
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    padding: 32px;
  }
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.img {
  animation: none;
  object-fit: contain;
  width: 64px;
  height: 64px;
  position: relative;
  margin-right: 0px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.links {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__vqlpd {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__i5A3 {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__wLYgZ {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__ll6G8 {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.cookieConsent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.hero {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  max-height: 100vh;
  min-height: 100vh;
  flex-grow: 1;
  color: var(--token-t2MZS5ajauQJ);
  background: var(--token-bDvfb8QXlDbd);
  flex-shrink: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero > * {
    grid-column: 4;
  }
}
.particleHero:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 20vh;
  position: fixed;
  left: 0;
  top: 0;
  margin-right: 0px;
  justify-self: stretch;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.h1__gIwWd {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  justify-self: stretch;
  letter-spacing: 5px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__gIwWd {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.h1__q6WJc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  text-align: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  justify-self: stretch;
  letter-spacing: 1px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__q6WJc {
    padding-left: 16px;
    padding-right: 16px;
    left: auto;
    top: auto;
    padding-bottom: 0px;
    font-weight: 400;
    font-size: var(--token-G1XwgYYRsX_M);
  }
}
.text___7XvAn {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 4px;
  text-align: right;
  justify-self: center;
  left: 0vw;
  top: auto;
  z-index: 1;
  margin-right: 0px;
  right: 0vw;
  bottom: 1vw;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 4%;
}
.projects {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 0px;
  align-content: flex-start;
  justify-items: center;
  max-height: 100%;
  min-height: 100vh;
  flex-grow: 0;
  color: var(--token-t2MZS5ajauQJ);
  background: var(--token-C9piUAW509aW);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 1%;
}
.projects > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projects > * {
    grid-column: 4;
  }
}
.text__zVWtI {
  position: relative;
  width: 100%;
  height: 1vh;
  max-width: 100%;
  font-weight: 100;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 4px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.project {
  animation: bouncemz8PGamSoahc 1s ease 0s 1 normal none running;
  display: flex;
  position: relative;
  width: 100%;
  height: 23vh;
  grid-row-gap: 0px;
  flex-grow: 1;
  overflow: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 20px 5%;
  margin: 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .project {
    height: auto;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.text__jyDyS {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 4em;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jyDyS {
    font-size: 2.5em;
  }
}
.text__y3ZxS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: var(--token-KCF5bZSHawJk);
  letter-spacing: 4px;
  text-transform: uppercase;
  min-width: 0;
}
.text__sfKf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  min-width: 0;
}
.details {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  min-width: 0;
}
.projectReveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 10%;
  height: 20%;
}
