.ariaCheckboxGroup:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  row-gap: var(--token-C4tKAbtREQEk);
  min-width: 0;
}
.ariaCheckboxGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.ariaCheckboxGroup[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__jpkCx {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-C4tKAbtREQEk);
}
.checkbox__l59IE:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.checkbox__nih9X:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox__kA10:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
