.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-uyGlLyBSSPEj);
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
  width: 100%;
  color: var(--token-It_FgHzX6Jwc);
  font-family: var(--token-NBVTtVD1XBnZ);
  min-width: 0;
  border-radius: var(--token-4uTXY9GwFD1l);
  padding: var(--token-4uTXY9GwFD1l) var(--token--e_2K-2uhnGX);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-bAXYxQaQyfo2);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-fQ4j2BzKPbXR);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-b9J3xsgOWwQx);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-fQ4j2BzKPbXR);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-NjJ8MH5aK_k2);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-NjJ8MH5aK_k2);
}
