.appliedIntelligenceSystemsThinking {
  display: grid;
  width: 100%;
  height: 100%;
  grid-row-gap: 0px;
  align-content: flex-start;
  justify-items: center;
  max-height: 100%;
  min-height: 100vh;
  flex-grow: 0;
  color: var(--token-t2MZS5ajauQJ);
  background:
    linear-gradient(#000000b3, #000000b3),
    url("./images/comfyAiWebp.webp") top 50% left 50% / cover repeat;
  flex-shrink: 0;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 2% 1% 5%;
}
.appliedIntelligenceSystemsThinking > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .appliedIntelligenceSystemsThinking {
    padding-bottom: 20%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .appliedIntelligenceSystemsThinking > * {
    grid-column: 4;
  }
}
.appliedIntelligenceSystemsThinking2 {
  position: relative;
  width: 100%;
  height: 5vh;
  max-width: 100%;
  font-weight: 100;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 4px;
  text-transform: uppercase;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .appliedIntelligenceSystemsThinking2 {
    height: 100%;
    font-size: var(--token-G1XwgYYRsX_M);
    letter-spacing: 1px;
    min-height: 0;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
  row-gap: 20px;
  min-width: 0;
  padding: 8px 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    padding-top: 32px;
  }
}
.h1__vdiM {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-UQcw76i6UXaT);
  font-weight: 300;
  min-width: 0;
}
.h1__otIi {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: var(--token-UQcw76i6UXaT);
  font-weight: 300;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.h1__tar6T {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: var(--token-UQcw76i6UXaT);
  font-weight: 300;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.h1___4Nkd2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: 2rem;
  font-weight: 600;
  justify-self: flex-start;
  padding-bottom: 24px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___4Nkd2 {
    font-size: 2rem;
  }
}
.h1__j9BAo {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 40px;
  min-width: 0;
}
.ul__llLJs {
  display: flex;
  flex-direction: column;
  font-size: var(--token-UQcw76i6UXaT);
  line-height: var(--token-m-URFhL5Zo0B);
}
.h1__s5Ngn {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: 2rem;
  font-weight: 600;
  justify-self: flex-start;
  padding-bottom: 24px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__s5Ngn {
    font-size: 2rem;
  }
}
.h1___6O5Tm {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: var(--token-UQcw76i6UXaT);
  font-weight: 300;
  line-height: var(--token-m-URFhL5Zo0B);
  min-width: 0;
}
.ul__r0K4T {
  display: flex;
  flex-direction: column;
}
.h1__nxZj {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: var(--token-UQcw76i6UXaT);
  font-weight: 300;
  margin-top: 24px;
  line-height: var(--token-m-URFhL5Zo0B);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__nxZj {
    margin-top: 8px;
    padding-bottom: 40px;
  }
}
.ul___2Cdni {
  display: flex;
  flex-direction: column;
}
.h1__sAgxa {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 24px;
  line-height: var(--token-m-URFhL5Zo0B);
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__sAgxa {
    margin-top: 8px;
  }
}
