.ariaCheckboxGroup:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  row-gap: var(--token-C4tKAbtREQEk);
  min-width: 0;
}
.ariaCheckboxGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.ariaCheckboxGroup[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.label2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__vFXyy {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-C4tKAbtREQEk);
}
.checkbox2__uamsm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.checkbox2__ySx71:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox2__iKzW0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
