.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-It_FgHzX6Jwc);
  font-family: var(--token-NBVTtVD1XBnZ);
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
  width: 100%;
  column-gap: var(--token-zfsMcYLEEiIu);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox___6ELp2 {
  display: flex;
  position: relative;
  width: var(--token-4IMJ_ZSZgl-v);
  height: var(--token-4IMJ_ZSZgl-v);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-uK3X7POBy7bh);
}
.ariaRadio[data-selected] .freeBox___6ELp2 {
  background: var(--token-bAXYxQaQyfo2);
  border-color: var(--token-bAXYxQaQyfo2);
}
.ariaRadio[data-focus-visible] .freeBox___6ELp2 {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-bAXYxQaQyfo2);
  outline-width: 2px;
}
.freeBox__x22BV {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__x22BV {
  width: var(--token-4uTXY9GwFD1l);
  height: var(--token-4uTXY9GwFD1l);
  flex-shrink: 0;
  display: block;
}
