.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.hero {
  animation: none;
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  height: auto;
  background:
    linear-gradient(45deg, #441b70 0%, #921055 100%) 0% 0% / 100% 100% repeat,
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
  overflow: visible;
  min-height: 120vh;
  flex-shrink: 0;
  flex-grow: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 120px 0 200px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    animation: none;
    justify-items: center;
    align-content: flex-start;
    height: auto;
    padding: 100px 0px 160px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero > * {
    grid-column: 4;
  }
}
.freeBox__cu6O {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 10;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cu6O {
    animation: none;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding: 40px 0%;
  }
}
.versyTriangle {
  object-fit: cover;
  max-width: 100%;
  width: 40%;
}
.versyTriangle > picture > img {
  object-fit: cover;
}
.freeBox__fsxlK {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fsxlK {
    animation: none;
  }
}
.versyLogo {
  object-fit: cover;
  max-width: 100%;
  filter: brightness(200%);
}
.versyLogo > picture > img {
  object-fit: cover;
}
.text___8FtpQ {
  animation: fadeInRightKdx1R1C3TK5 1s ease 0.2s 1 normal none running;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8FtpQ {
    animation: none;
    text-align: center;
  }
}
.text__eNdUf {
  animation: fadeInRightKdx1R1C3TK5 1s ease 0.4s 1 normal none running;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eNdUf {
    animation: none;
    text-align: center;
  }
}
.details2 {
  animation: fadeInRightKdx1R1C3TK5 1s ease 0.6s 1 normal none running;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details2 {
    animation: none;
    text-align: center;
  }
}
.freeBox__wyFz5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 10;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 40px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wyFz5 {
    animation: none;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 100px;
    column-gap: 0px;
  }
}
.reveal:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.summary {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .summary {
    animation: none;
  }
}
.text__uFq2B {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uFq2B {
    animation: none;
  }
}
.details8 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details8 {
    animation: none;
  }
}
.summary5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .summary5 {
    animation: none;
  }
}
.text__eN9V {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eN9V {
    animation: none;
  }
}
.details9 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details9 {
    animation: none;
  }
}
.summary6 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .summary6 {
    animation: none;
  }
}
.text__lYcs3 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lYcs3 {
    animation: none;
  }
}
.details29 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details29 {
    animation: none;
  }
}
.summary2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .summary2 {
    animation: none;
  }
}
.text___8FKuu {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8FKuu {
    animation: none;
  }
}
.details10 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details10 {
    animation: none;
  }
}
.summary3 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .summary3 {
    animation: none;
  }
}
.text__pew6I {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pew6I {
    animation: none;
  }
}
.details11 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details11 {
    animation: none;
  }
}
.summary4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .summary4 {
    animation: none;
  }
}
.text__xihhi {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xihhi {
    animation: none;
  }
}
.details12 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details12 {
    animation: none;
  }
}
.text__dQw4N {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #ffffff;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dQw4N {
    animation: none;
  }
}
.details3 {
  animation: fadeInRightKdx1R1C3TK5 1s ease 0.6s 1 normal none running;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details3 {
    animation: none;
    text-align: center;
  }
}
.section__ogiAl {
  animation: none;
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  background:
    linear-gradient(0deg, #06081ae6 0%, #211d5ee6 100%),
    linear-gradient(0deg, #3d6234 0%, #7a9933 100%);
  height: auto;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 240px;
}
.section__ogiAl > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ogiAl {
    animation: none;
    background:
      url("./images/grassSvg.svg") left 50% bottom -1% / contain repeat-x,
      linear-gradient(0deg, #7a9933e6 0%, #7a9933e6 100%),
      url("./images/beppeMockup.webp") top 50% right 0px / auto auto no-repeat,
      linear-gradient(0deg, #3d6234 0%, #7a9933 100%);
    padding: 80px 0px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ogiAl > * {
    grid-column: 4;
  }
}
.part1Context {
  animation: bouncemz8PGamSoahc 1s ease 0s 1 normal none running;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow: visible;
  background: none;
  backdrop-filter: none;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
  padding: 80px 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .part1Context {
    animation: none;
    background: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__sl8O2 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sl8O2 {
    animation: none;
  }
}
.text__mosdT {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mosdT {
    animation: none;
  }
}
.details32 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #ffffff;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details32 {
    animation: none;
  }
}
.text__zJbtz {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zJbtz {
    animation: none;
  }
}
.details39 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: justify;
  color: #ffffff;
  position: relative;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details39 {
    animation: none;
  }
}
.details23 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  min-width: 0;
  padding: 60px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details23 {
    animation: none;
  }
}
.section___8OHU {
  animation: none;
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #3d6234;
  padding-bottom: 0px;
  overflow: hidden;
  height: 91vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___8OHU > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8OHU {
    animation: none;
    height: auto;
    background:
      url("./images/wave1Svg2.svg") left 50% bottom 0% / contain no-repeat,
      url("./images/peopleWebp.webp") left 50% bottom 1% / contain no-repeat,
      #3d6234;
    padding-bottom: 155px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8OHU > * {
    grid-column: 4;
  }
}
.text__f2HL {
  animation: fadeInUpCv8T94HMzoj 1s ease 0s 1 normal none running;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__f2HL {
    animation: none;
    height: 100%;
    min-height: 0;
  }
}
.text__pqzUt {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pqzUt {
    animation: none;
  }
}
.text__o3YP {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: left;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__o3YP {
    animation: none;
  }
}
.text__sj6Iu {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  min-width: 0;
  padding: 15px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sj6Iu {
    animation: none;
  }
}
.freeBox__vktD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.text__rDxwx {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rDxwx {
    animation: none;
  }
}
.text__jk6Y {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jk6Y {
    animation: none;
  }
}
.text__pIAuV {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pIAuV {
    animation: none;
  }
}
.text__kZrnQ {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kZrnQ {
    animation: none;
  }
}
.text__tiJy2 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tiJy2 {
    animation: none;
  }
}
.text___1Wz4A {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  min-width: 0;
  padding: 15px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Wz4A {
    animation: none;
  }
}
.freeBox___61Mr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.text__tR5Ww {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tR5Ww {
    animation: none;
  }
}
.text__h1VBl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h1VBl {
    animation: none;
  }
}
.text__pXuNy {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pXuNy {
    animation: none;
  }
}
.text__ozXd {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ozXd {
    animation: none;
  }
}
.text__lC8Ed {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  color: #f4ecd8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lC8Ed {
    animation: none;
  }
}
.text__xn2Ig {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: left;
  color: #f4ecd8;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xn2Ig {
    animation: none;
  }
}
.section__rx6Cz {
  animation: none;
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #fefae0;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 80px 0 280px;
}
.section__rx6Cz > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rx6Cz {
    animation: none;
    padding-bottom: 80px;
    background:
      url("./images/grassSvg.svg") left 50% bottom -1% / contain no-repeat,
      #fefae0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rx6Cz > * {
    grid-column: 4;
  }
}
.text__q8LK {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #4c3918;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q8LK {
    animation: none;
  }
}
.text___6Ravp {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #4c3918;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6Ravp {
    animation: none;
  }
}
.freeBox__pb8UJ {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 8px 8px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pb8UJ {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 0px;
  }
}
.freeBox___6USoj {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6USoj {
    animation: none;
  }
}
.text___6NoG {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #4c3918;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6NoG {
    animation: none;
  }
}
.details30 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  color: #4c3918;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details30 {
    animation: none;
  }
}
.text__rVfyp {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 16px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #4c3918;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rVfyp {
    animation: none;
  }
}
.details25 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  color: #4c3918;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details25 {
    animation: none;
  }
}
.text___90O3C {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #4c3918;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___90O3C {
    animation: none;
  }
}
.details24 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  color: #4c3918;
  padding-bottom: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details24 {
    animation: none;
  }
}
.tilt:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tilt:global(.__wab_instance) {
    animation: none;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
.img {
  animation: bouncemz8PGamSoahc 1s ease 0s 1 normal none running;
  object-fit: cover;
  max-width: 100%;
  width: 259px;
  height: 527px;
  border-radius: 32px;
  border: 8px solid #000000;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    animation: none;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.details22 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #4c3918;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details22 {
    animation: none;
  }
}
.section__rCi4Z {
  animation: none;
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #3d6234;
  height: auto;
  padding-top: 0px;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rCi4Z > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rCi4Z {
    animation: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rCi4Z > * {
    grid-column: 4;
  }
}
.projectDescription5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projectDescription5 {
    animation: none;
  }
}
.text__aCdCo {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 8px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aCdCo {
    animation: none;
  }
}
.details26 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  color: #fefae0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details26 {
    animation: none;
  }
}
.text__oAxoj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 40px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oAxoj {
    animation: none;
  }
}
.text___7Luxe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Luxe {
    animation: none;
  }
}
.details27 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  color: #fefae0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details27 {
    animation: none;
  }
}
.section__mys79 {
  animation: none;
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: #4c3918;
  height: 100%;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0 54px;
}
.section__mys79 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mys79 {
    animation: none;
    height: 100%;
    padding-bottom: 80px;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mys79 > * {
    grid-column: 4;
  }
}
.projectDescription6 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0px;
  min-width: 0;
  padding: 8px;
}
.text__vEj0 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 40px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vEj0 {
    animation: none;
  }
}
.text__ySm3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ySm3 {
    animation: none;
  }
}
.details33 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details33 {
    animation: none;
  }
}
.details28 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  min-width: 0;
  padding: 60px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details28 {
    animation: none;
  }
}
.text__cNjs6 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 40px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cNjs6 {
    animation: none;
  }
}
.text__jsxZ {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jsxZ {
    animation: none;
  }
}
.details35 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details35 {
    animation: none;
  }
}
.freeBox__zykqu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.palette {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #9d3c3a;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette {
    animation: none;
  }
}
.palette2 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #bc4749;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette2 {
    animation: none;
  }
}
.palette3 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #de5753;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette3 {
    animation: none;
  }
}
.palette4 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #d07d82;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette4 {
    animation: none;
  }
}
.freeBox__uk55R {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.palette5 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #3d6234;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette5 {
    animation: none;
  }
}
.palette6 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #6a994e;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette6 {
    animation: none;
  }
}
.palette7 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #8abd61;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette7 {
    animation: none;
  }
}
.palette8 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #acd08f;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette8 {
    animation: none;
  }
}
.freeBox__lB6Kb {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.palette9 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #4c3918;
  flex-shrink: 0;
  padding: 5% 0%;
  border: 1px solid #f4ecd8;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette9 {
    animation: none;
  }
}
.palette10 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #756344;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette10 {
    animation: none;
  }
}
.palette11 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #ebdab8;
  color: #4c3918;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette11 {
    animation: none;
  }
}
.palette12 {
  animation: none;
  width: 100px;
  height: 100px;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  background: #f4ecd8;
  color: #4c3918;
  flex-shrink: 0;
  padding: 5% 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .palette12 {
    animation: none;
  }
}
.text__wWc13 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 40px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wWc13 {
    animation: none;
  }
}
.text___9OG {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9OG {
    animation: none;
  }
}
.text__gtr4V {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 40px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gtr4V {
    animation: none;
  }
}
.text__oehGr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oehGr {
    animation: none;
  }
}
.details36 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details36 {
    animation: none;
  }
}
.text__uEu5X {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 32px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uEu5X {
    animation: none;
  }
}
.details37 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details37 {
    animation: none;
  }
}
.text__uKiYd {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 33px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uKiYd {
    animation: none;
  }
}
.details38 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details38 {
    animation: none;
  }
}
.text__phG7I {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__phG7I {
    animation: none;
  }
}
.details40 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details40 {
    animation: none;
  }
}
.text__yqiCx {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yqiCx {
    animation: none;
  }
}
.details41 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details41 {
    animation: none;
  }
}
.text__wHwiu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  min-width: 0;
  padding: 40px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wHwiu {
    animation: none;
  }
}
.text__il7Cr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-UQcw76i6UXaT);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  min-width: 0;
  padding: 0px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__il7Cr {
    animation: none;
  }
}
.details34 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details34 {
    animation: none;
  }
}
