.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-C4tKAbtREQEk);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__ybzz {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-C4tKAbtREQEk);
}
.radio__pzBG:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__vvZa9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__l6Wtc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
