.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-C4tKAbtREQEk);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-uyGlLyBSSPEj);
  width: 100%;
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-4uTXY9GwFD1l);
  padding: var(--token-4uTXY9GwFD1l) var(--token-NjJ8MH5aK_k2)
    var(--token-4uTXY9GwFD1l) var(--token--e_2K-2uhnGX);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-NjJ8MH5aK_k2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-NjJ8MH5aK_k2);
  flex-shrink: 0;
  border-radius: var(--token-4uTXY9GwFD1l);
  border: 1px none black;
}
.svg {
  width: var(--token-5j7qaU1VvxIJ);
  height: var(--token-5j7qaU1VvxIJ);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__w6XLb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
