.homepage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.homepage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .homepage > * {
    grid-column: 4;
  }
}
.siteHeader:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.hero {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  max-height: 100vh;
  min-height: 100vh;
  flex-grow: 0;
  color: var(--token-t2MZS5ajauQJ);
  background: var(--token-4Cdw41zGDm2p);
  flex-shrink: 0;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero > * {
    grid-column: 4;
  }
}
.heroTopography:global(.__wab_instance) {
  animation: fadeInK8AS4CD8LxJc 1s ease 0s 1 normal forwards running;
  object-fit: cover;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
  min-height: 100vh;
  filter: blur(1px);
  background: none;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox__napsj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: none;
  filter: none;
  background: #0a0a0a80;
  row-gap: 5%;
  min-height: 1vh;
  justify-self: baseline;
  margin-bottom: 1px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-backdrop-filter: none;
  padding: 20px 8px 78px;
}
.particleHero:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 4vh;
  min-height: 20vh;
  position: relative;
  left: auto;
  top: auto;
  margin-right: 0px;
  z-index: 1;
  backdrop-filter: none;
  margin-bottom: 0px;
  bottom: auto;
  right: auto;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: none;
}
.h1__gIwWd {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  letter-spacing: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__gIwWd {
    padding-left: 16px;
    padding-right: 16px;
    left: auto;
    top: auto;
  }
}
.h1__q6WJc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-G1XwgYYRsX_M);
  text-align: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  letter-spacing: 1px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__q6WJc {
    padding-left: 16px;
    padding-right: 16px;
    left: auto;
    top: auto;
    padding-bottom: 0px;
    font-weight: 400;
    font-size: var(--token-G1XwgYYRsX_M);
  }
}
.text___7XvAn {
  animation: shakeYl0KBo9LjTzBs 5s ease-in-out 3s infinite normal none running;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 4px;
  text-align: right;
  justify-self: center;
  left: 0vw;
  top: auto;
  z-index: 1;
  margin-right: 0px;
  right: 0vw;
  bottom: 1vw;
  background: none;
  filter: none;
  backdrop-filter: blur(1px);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-backdrop-filter: blur(1px);
  padding: 4%;
}
.projects {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 0px;
  align-content: center;
  justify-items: center;
  max-height: 100vh;
  min-height: 100vh;
  flex-grow: 0;
  color: var(--token-t2MZS5ajauQJ);
  background: #000000;
  flex-shrink: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0%;
}
.projects > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projects > * {
    grid-column: 4;
  }
}
.versy {
  animation: bouncemz8PGamSoahc 1s ease 0s 1 normal none running;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 0px;
  flex-grow: 1;
  overflow: visible;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(202.29388212677736deg, #d92650 0%, #bf00ff 100%),
    url("./images/clouds.svg") top 50% left 50% / cover repeat,
    url("./images/myBeppeHeroWebp.webp") top 50% left 50% / cover repeat;
  min-height: 30vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  border-radius: 0px;
  padding: 20px 5%;
  margin: 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .versy {
    height: auto;
  }
}
.img___2IQgt {
  object-fit: contain;
  max-width: 100%;
  width: 33%;
  height: 235px;
}
.img___2IQgt > picture > img {
  object-fit: contain;
}
.freeBox__gf9Gk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  align-self: stretch;
  overflow: visible;
  min-width: 0;
  padding: 8px;
}
.freeBox___3INsk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__dFmP0 {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
}
.img__dFmP0 > picture > img {
  object-fit: cover;
}
.text__y3ZxS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: var(--token-KCF5bZSHawJk);
  letter-spacing: 4px;
  text-transform: uppercase;
  min-width: 0;
}
.details16 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.myBeppe {
  animation: bouncemz8PGamSoahc 1s ease 0s 1 normal none running;
  position: relative;
  width: 100%;
  height: 30vh;
  grid-row-gap: 0px;
  flex-grow: 1;
  overflow: visible;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background:
    linear-gradient(#6a994ecc, #6a994ecc),
    url("./images/clouds.svg") top 50% left 50% / cover repeat,
    url("./images/myBeppeHeroWebp.webp") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  border-radius: 0px;
  padding: 20px 5%;
  margin: 0%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .myBeppe {
    height: auto;
  }
}
.img__wqkHe {
  object-fit: cover;
  max-width: 100%;
  width: 33%;
}
.img__wqkHe > picture > img {
  object-fit: cover;
}
.freeBox__fL3T4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  align-self: stretch;
  overflow: visible;
  min-width: 0;
  padding: 8px;
}
.text__e2TtT {
  width: 100%;
  height: 100px;
  max-width: 100%;
  font-weight: 400;
  font-size: 4em;
  position: relative;
  font-family: "Mr Dafoe";
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e2TtT {
    font-size: 2.5em;
  }
}
.text__l8YYd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: var(--token-KCF5bZSHawJk);
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0px;
  min-width: 0;
}
.details17 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: justify;
  margin-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.imageReveal:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  flex-shrink: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.about {
  display: grid;
  position: relative;
  width: 100%;
  height: 800vh;
  grid-row-gap: 0px;
  align-content: flex-start;
  justify-items: center;
  min-height: 100vh;
  flex-grow: 0;
  color: var(--token-t2MZS5ajauQJ);
  background: var(--token-C9piUAW509aW);
  flex-shrink: 0;
  overflow: visible;
  transform: translate3d(0px, 0px, 0px);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0%;
}
.about > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    height: 600vh;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .about > * {
    grid-column: 4;
  }
}
.aboutHorizontal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.skillsSection:global(.__wab_instance) {
  position: relative;
}
.aiSys:global(.__wab_instance) {
  position: relative;
}
.contact {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-row-gap: 0px;
  align-content: flex-start;
  justify-items: center;
  max-height: 100%;
  min-height: 100vh;
  flex-grow: 0;
  color: var(--token-t2MZS5ajauQJ);
  background: #00000099;
  flex-shrink: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 1%;
}
.contact > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact > * {
    grid-column: 4;
  }
}
.text__kEoi8 {
  position: relative;
  width: 100%;
  height: 5vh;
  max-width: 100%;
  font-weight: 100;
  font-size: var(--token-G1XwgYYRsX_M);
  letter-spacing: 4px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.cookieConsent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.siteFooter:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: 99;
}
