.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: center;
  column-gap: 16px;
  isolation: isolate;
  filter: none;
  backdrop-filter: blur(4px);
  background: linear-gradient(0deg, #0000004d 0%, #00000099 100%) 0% 0% / 100%
    100% repeat;
  position: relative;
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(4px);
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    padding: 8px 32px;
  }
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.homeButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px;
}
.img {
  animation: none;
  object-fit: contain;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}
.links {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  align-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    column-gap: 8px;
  }
}
.link__lzZiw {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.link__hKvHf {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__gBktF {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___9XW1F {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___0HvZq {
  color: #ffffffd9;
  font-family: "Lexend Giga", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
