.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-t2MZS5ajauQJ);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-4IMJ_ZSZgl-v);
  width: var(--token-4IMJ_ZSZgl-v);
  border-radius: 99px;
  border: 1px solid var(--token-bAXYxQaQyfo2);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-bAXYxQaQyfo2);
  outline-offset: 1px;
}
