.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-C4tKAbtREQEk);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-uyGlLyBSSPEj);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline-style: none;
  background: var(--token-t2MZS5ajauQJ);
  min-width: 0;
  border-radius: var(--token-4uTXY9GwFD1l);
  padding: 0px;
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ZvRSnUU8gbFl);
  outline-offset: 1px;
  outline-color: var(--token-bAXYxQaQyfo2);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
  padding-top: var(--token-4uTXY9GwFD1l);
  padding-bottom: var(--token-4uTXY9GwFD1l);
  padding-left: var(--token--e_2K-2uhnGX);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-MOGT7cWov6JK);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: var(--token-NjJ8MH5aK_k2);
  height: var(--token-NjJ8MH5aK_k2);
  justify-content: center;
  align-items: center;
}
.svg {
  width: var(--token-5j7qaU1VvxIJ);
  height: var(--token-5j7qaU1VvxIJ);
  flex-shrink: 0;
}
.description2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection2__b0DT:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__yp1Cj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
