.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-bAXYxQaQyfo2);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-zfsMcYLEEiIu);
  font-family: var(--token-NBVTtVD1XBnZ);
  font-size: var(--token-G1XwgYYRsX_M);
  line-height: var(--token-3qxnuh7VZT2U);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-4uTXY9GwFD1l);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ZvRSnUU8gbFl);
  outline-offset: 1px;
  outline-color: var(--token-bAXYxQaQyfo2);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-nrkILY2T0UvJ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-icne7uqyER6Y);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-oD0QqD7gRq-d);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-yriiGa561WuE);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-h6fv9eU5gKLR);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-NXUi1pApkD07);
  font-size: var(--token-KCF5bZSHawJk);
  column-gap: var(--token-ZvRSnUU8gbFl);
  row-gap: 0px;
  border-radius: var(--token-C4tKAbtREQEk);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-KCF5bZSHawJk);
  line-height: var(--token-NXUi1pApkD07);
  column-gap: var(--token-C4tKAbtREQEk);
  row-gap: 0px;
  border-radius: var(--token-C4tKAbtREQEk);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-UQcw76i6UXaT);
  line-height: var(--token-m-URFhL5Zo0B);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-UQcw76i6UXaT);
  line-height: var(--token-m-URFhL5Zo0B);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-x4XoOyhcgegv);
  border-radius: var(--token-4uTXY9GwFD1l);
}
.softBackgroundcolor_neutral {
  background: var(--token--3WfEKKBBU-T);
}
.softBackgroundcolor_muted {
  background: var(--token-fQ4j2BzKPbXR);
}
.softBackgroundcolor_success {
  background: var(--token-cefDx9ALc430);
}
.softBackgroundcolor_warning {
  background: var(--token-vbUMxIUwHm6e);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-kEejX1dk0Rju);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-4uTXY9GwFD1l);
  border: 0px solid var(--token-5BjgVM5-rWU1);
}
.bordercolor_neutral {
  border-color: var(--token-561k6EmNC40L);
}
.bordercolor_muted {
  border-color: var(--token-BdXl6QlJ3qoG);
}
.bordercolor_success {
  border-color: var(--token-Dr6sy7yaSi89);
}
.bordercolor_warning {
  border-color: var(--token-fN4fXsisDmdf);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ll32lhBfJiI0);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-4uTXY9GwFD1l);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-pJuCPr8lY95P);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-C6XHQ88X54jG);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-44hBDj3EVZf5);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__rxAa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-4uTXY9GwFD1l);
  min-width: 0;
  min-height: 0;
  padding: 12px 24px;
}
.freeBoxsize_extraSmall__rxAaOgzxt {
  padding: var(--token-C4tKAbtREQEk) var(--token-4uTXY9GwFD1l);
}
.freeBoxsize_small__rxAaKi9BX {
  padding: var(--token-4uTXY9GwFD1l) var(--token-zfsMcYLEEiIu);
}
.freeBoxsize_large__rxAaILzJt {
  padding-top: var(--token-C4tKAbtREQEk);
  padding-bottom: var(--token-C4tKAbtREQEk);
}
.freeBoxsize_extraLarge__rxAaChFEk {
  padding-left: var(--token-8k_MU6QpHiOJ);
  padding-right: var(--token-8k_MU6QpHiOJ);
}
.freeBoxroundedFull__rxAareOLa {
  padding-right: var(--token-8k_MU6QpHiOJ);
  padding-left: var(--token-8k_MU6QpHiOJ);
}
.freeBox__vj5Oc {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__vj5OcoJvH {
  display: flex;
}
.slotTargetStart {
  color: var(--token-HCv4BMglkmxu);
}
.slotTargetStartcolor_neutral {
  color: var(--token-SagQ9cPqP6-w);
}
.slotTargetStartcolor_muted {
  color: var(--token-i1vBelbuPVPz);
}
.slotTargetStartcolor_success {
  color: var(--token-VqpWAQBnBd--);
}
.slotTargetStartcolor_warning {
  color: var(--token-uNMt7y0KWLGv);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-7AlNbDYVwwRk);
}
.slotTargetStarttype_soft {
  color: var(--token-cpUlOAdhFBFw);
}
.slotTargetStarttype_bordered {
  color: var(--token-cpUlOAdhFBFw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-KCF5bZSHawJk);
}
.slotTargetStartsize_small {
  font-size: var(--token-KCF5bZSHawJk);
}
.slotTargetStartsize_large {
  font-size: var(--token-UQcw76i6UXaT);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-UQcw76i6UXaT);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-2UF3yufLHyJq);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-2UF3yufLHyJq);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-qaVxMtNfrcXB);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-qaVxMtNfrcXB);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-9mWlTJaI5H5O);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-9mWlTJaI5H5O);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-ZTjprWSZzbHy);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-ZTjprWSZzbHy);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-6jTdEW9JEt8-);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-6jTdEW9JEt8-);
}
.svg__y8H8U {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-HCv4BMglkmxu);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-SagQ9cPqP6-w);
}
.slotTargetLabelcolor_muted {
  color: var(--token-i1vBelbuPVPz);
}
.slotTargetLabelcolor_success {
  color: var(--token-VqpWAQBnBd--);
}
.slotTargetLabelcolor_warning {
  color: var(--token-uNMt7y0KWLGv);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-7AlNbDYVwwRk);
}
.slotTargetLabeltype_soft {
  color: var(--token-cpUlOAdhFBFw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-cpUlOAdhFBFw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-2UF3yufLHyJq);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-qaVxMtNfrcXB);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-2UF3yufLHyJq);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-9mWlTJaI5H5O);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-qaVxMtNfrcXB);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-ZTjprWSZzbHy);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-9mWlTJaI5H5O);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-6jTdEW9JEt8-);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-ZTjprWSZzbHy);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-6jTdEW9JEt8-);
}
.text__yi2Jt {
  white-space: pre;
}
.freeBox__gu4Zs {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__gu4ZSl2Pf {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-HCv4BMglkmxu);
}
.slotTargetEndcolor_neutral {
  color: var(--token-SagQ9cPqP6-w);
}
.slotTargetEndcolor_muted {
  color: var(--token-i1vBelbuPVPz);
}
.slotTargetEndcolor_success {
  color: var(--token-VqpWAQBnBd--);
}
.slotTargetEndcolor_warning {
  color: var(--token-uNMt7y0KWLGv);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-7AlNbDYVwwRk);
}
.slotTargetEndtype_soft {
  color: var(--token-cpUlOAdhFBFw);
}
.slotTargetEndtype_bordered {
  color: var(--token-cpUlOAdhFBFw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-KCF5bZSHawJk);
}
.slotTargetEndsize_small {
  font-size: var(--token-KCF5bZSHawJk);
}
.slotTargetEndsize_large {
  font-size: var(--token-UQcw76i6UXaT);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-UQcw76i6UXaT);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-2UF3yufLHyJq);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-2UF3yufLHyJq);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-qaVxMtNfrcXB);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-qaVxMtNfrcXB);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-9mWlTJaI5H5O);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-9mWlTJaI5H5O);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-ZTjprWSZzbHy);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-ZTjprWSZzbHy);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-6jTdEW9JEt8-);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-6jTdEW9JEt8-);
}
.svg___9MvxQ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
