@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif; 
}

:root {
  background-color: #0f172a;
  color: white;
}