.plasmic_tokens {
  --token-I_kIYmkp3rAu: Inter;
  --plasmic-token-cc-font-family: var(--token-I_kIYmkp3rAu);
  --cc-font-family: var(--token-I_kIYmkp3rAu);
  --token-CoQ7kPLW8rRe: #ffffff;
  --plasmic-token-cc-bg: var(--token-CoQ7kPLW8rRe);
  --cc-bg: var(--token-CoQ7kPLW8rRe);
  --token-liaAV_5rx00m: #2c2f31;
  --plasmic-token-cc-primary-color: var(--token-liaAV_5rx00m);
  --cc-primary-color: var(--token-liaAV_5rx00m);
  --token-YC78LolruPJs: #5e6266;
  --plasmic-token-cc-secondary-color: var(--token-YC78LolruPJs);
  --cc-secondary-color: var(--token-YC78LolruPJs);
  --token-rMWrBJOD3gNa: #30363c;
  --plasmic-token-cc-btn-primary-bg: var(--token-rMWrBJOD3gNa);
  --cc-btn-primary-bg: var(--token-rMWrBJOD3gNa);
  --token-4Kq-GqCeBcB-: #ffffff;
  --plasmic-token-cc-btn-primary-color: var(--token-4Kq-GqCeBcB-);
  --cc-btn-primary-color: var(--token-4Kq-GqCeBcB-);
  --token-C9piUAW509aW: #000000;
  --plasmic-token-cc-btn-primary-hover-bg: var(--token-C9piUAW509aW);
  --cc-btn-primary-hover-bg: var(--token-C9piUAW509aW);
  --token-fqyq2VPzABJy: #ffffff;
  --plasmic-token-cc-btn-primary-hover-color: var(--token-fqyq2VPzABJy);
  --cc-btn-primary-hover-color: var(--token-fqyq2VPzABJy);
  --token-UdhihIoc43I4: #eaeff2;
  --plasmic-token-cc-btn-secondary-bg: var(--token-UdhihIoc43I4);
  --cc-btn-secondary-bg: var(--token-UdhihIoc43I4);
  --token-vJ6SflYSWUiq: #d4dae0;
  --plasmic-token-cc-btn-secondary-hover-bg: var(--token-vJ6SflYSWUiq);
  --cc-btn-secondary-hover-bg: var(--token-vJ6SflYSWUiq);
  --token-3G067E3xT-F-: #000000;
  --plasmic-token-cc-btn-secondary-hover-color: var(--token-3G067E3xT-F-);
  --cc-btn-secondary-hover-color: var(--token-3G067E3xT-F-);
  --token-EG_kBa5IwBEe: #d4dae0;
  --plasmic-token-cc-btn-secondary-hover-border-color: var(
    --token-EG_kBa5IwBEe
  );
  --cc-btn-secondary-hover-border-color: var(--token-EG_kBa5IwBEe);
  --token-FMNozuH3ivJJ: 10px;
  --plasmic-token-cc-btn-border-radius: var(--token-FMNozuH3ivJJ);
  --cc-btn-border-radius: var(--token-FMNozuH3ivJJ);
  --token-W8xRfGyBcVH_: #f0f4f7;
  --plasmic-token-cc-separator-border-color: var(--token-W8xRfGyBcVH_);
  --cc-separator-border-color: var(--token-W8xRfGyBcVH_);
  --token-t_XNCfZM_y3g: #667481;
  --plasmic-token-cc-toggle-off-bg: var(--token-t_XNCfZM_y3g);
  --cc-toggle-off-bg: var(--token-t_XNCfZM_y3g);
  --token-A1lLlNmKenTH: #ffffff;
  --plasmic-token-cc-toggle-on-knob-bg: var(--token-A1lLlNmKenTH);
  --cc-toggle-on-knob-bg: var(--token-A1lLlNmKenTH);
  --token-9bZ6glquYx1G: #d5dee2;
  --plasmic-token-cc-toggle-readonly-bg: var(--token-9bZ6glquYx1G);
  --cc-toggle-readonly-bg: var(--token-9bZ6glquYx1G);
  --token-GBgLLm2sJwwm: #ffffff;
  --plasmic-token-cc-toggle-readonly-knob-bg: var(--token-GBgLLm2sJwwm);
  --cc-toggle-readonly-knob-bg: var(--token-GBgLLm2sJwwm);
  --token-X5uXLBNQASI1: #f0f4f7;
  --plasmic-token-cc-cookie-category-block-bg: var(--token-X5uXLBNQASI1);
  --cc-cookie-category-block-bg: var(--token-X5uXLBNQASI1);
  --token-8dlOX2YYy5_G: #f0f4f7;
  --plasmic-token-cc-cookie-category-block-border: var(--token-8dlOX2YYy5_G);
  --cc-cookie-category-block-border: var(--token-8dlOX2YYy5_G);
  --token-d2baAMFbWjIW: #e9eff4;
  --plasmic-token-cc-cookie-category-block-hover-bg: var(--token-d2baAMFbWjIW);
  --cc-cookie-category-block-hover-bg: var(--token-d2baAMFbWjIW);
  --token-pUW0L0HKvhbz: #e9eff4;
  --plasmic-token-cc-cookie-category-block-hover-border: var(
    --token-pUW0L0HKvhbz
  );
  --cc-cookie-category-block-hover-border: var(--token-pUW0L0HKvhbz);
  --token-o57wbZvW4Nz5: transparent;
  --plasmic-token-cc-cookie-category-expanded-block-bg: var(
    --token-o57wbZvW4Nz5
  );
  --cc-cookie-category-expanded-block-bg: var(--token-o57wbZvW4Nz5);
  --token-3IkTht_YILHu: #dee4e9;
  --plasmic-token-cc-cookie-category-expanded-block-hover-bg: var(
    --token-3IkTht_YILHu
  );
  --cc-cookie-category-expanded-block-hover-bg: var(--token-3IkTht_YILHu);
  --token-rQz3m_npvtVO: rgba(0, 0, 0, 0.65);
  --plasmic-token-cc-overlay-bg: var(--token-rQz3m_npvtVO);
  --cc-overlay-bg: var(--token-rQz3m_npvtVO);
  --token--UPwJrdEkpuu: #e4eaed;
  --plasmic-token-cc-footer-border-color: var(--token--UPwJrdEkpuu);
  --cc-footer-border-color: var(--token--UPwJrdEkpuu);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
